// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------
.link-style{
    text-decoration: none;
    font-family: $primary-font-family, $secondary-font-family;
    font-size: 1.5em;
    font-weight: 500;
    @include transition;
    @include appearance(none);

    &.primary{
        color: $primary-color;

        &:hover{
            color: $secondary-color;
        }
    }

    &.secondary{
        color: $accent-color;

        &:hover{
            color: $tertiary-color;
        }
    }

    &.with-icon{
        svg{
            width: 18px;
            height: 18px;

            path{
                @include transition;
            }
        }

        &:hover{
            &.primary{
                svg{
                    path{
                        fill: $secondary-color;
                    }
                }
            }
        }
    }
}

.link-btn{
    height: auto;
    font-family: $primary-font-family, $secondary-font-family;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5em;
    padding: 10px 15px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #ffffff;
    @include transition;
    @include border-radius(3px);
    @include appearance(none);

    &.transparent{
        background: transparent;
        color: $primary-color;
        border-color: $primary-color;

        &:hover{
            background: $primary-color;
            color: #ffffff;
        }
    }

    &.primary{
        background: $primary-color;
        
        &:hover{
            background: $primary-color-light;
        }
    }

    &.secondary{
        background: $accent-color;
        
        &:hover{
            background: $primary-color;
        }
    }

    &.with-icon{
        svg{
            width: 18px;
            height: 18px;
        }
    }
}

.btn{
    height: auto;
    font-family: $primary-font-family, $secondary-font-family;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5em;
    padding: 15px 20px;
    border: 0px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    @include transition;
    @include border-radius(3px);
    @include appearance(none);

    &.primary{
        background: $primary-color;

        &:hover{
            background: $secondary-color;
        }
    }

    &.secondary{
        background: $accent-color;

        &:hover{
            background: $tertiary-color;
        }
    }

    &.with-icon{
        svg{
            width: 18px;
            height: 18px;
        }
    }
}

.tag-link{
    background-color: $primary-color;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
    @include border-radius(5px);
    padding: 10px 15px;
    text-decoration: none;

    &:hover{
        background-color: $primary-color-light;
        color: $accent-color;
    }
}

.animation{
    cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:$primary-color;
    font-size:2em;
    color: #ffffff;
    border: none;
    font-family: $primary-font-family, $secondary-font-family;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid $primary-color;
        transition:all 1s;
        }
    &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid $accent-color;
        border-left:5px solid $accent-color;
    }
    &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid $accent-color;
        border-right:5px solid $accent-color;
    }
    &:hover{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;
        &:before,&:after{
            width:100%;
            height:100%;
        }
    }
}
    
// -----------------------------------------------------------------------------
// BUTTONS (RTL)
// -----------------------------------------------------------------------------
.rtl{
    .link-btn{
        padding: 12px 25px;
        font-size: 1.3em;
    
        &.with-icon{
            svg{
                @include flip-image;
            }
        }
    }
    
    .btn{
        font-size: 1.3em;
        padding: 12px 25px;
    
        &.with-icon{
            svg{
                @include flip-image;
            }
        }
    }

    .link-style{
        font-size: 1.3em;
        
        &.with-icon{
            svg{
                @include flip-image;
            }
        }
    }
}

// -----------------------------------------------------------------------------
// BUTTONS (RESPONSIVE)
// -----------------------------------------------------------------------------
@media only screen and (max-width: 1200px){
    .link-style, .link-btn, .btn{
        span{
            position: relative;
            top: 2px;
        }
    }
    
    .rtl .link-style, .rtl .link-btn, .rtl .btn{
        span{
            top: 0px;
        }
    }
}