// -----------------------------------------------------------------------------
// ABOUT PAGE
// -----------------------------------------------------------------------------
.about-page{
    .center-max-width{
        background-color: #ffffff;
        @include box-shadow(0px, 0px, 15px, 0px, rgba(94,94,94,0.15));
        @include border-radius(3px);
    }

    .about-social-links{
        a{
            text-decoration: none;

            i{
                font-size: 2em;
                color: $accent-color;

                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
}
// -----------------------------------------------------------------------------
// ABOUT PAGE RTL
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// ABOUT PAGE RESPONSIVE
// -----------------------------------------------------------------------------