// -----------------------------------------------------------------------------
// INITIAL FONT SIZE
// -----------------------------------------------------------------------------
$initial-font-size: 10px;
$mobile-font-size: 9px;

// -----------------------------------------------------------------------------
// ELEMENTS DEFAULT MAX WIDTH
// -----------------------------------------------------------------------------
$default-width-center-percent: 75%;
$default-max-width: 1366px;

// -----------------------------------------------------------------------------
// FONT FAMILIES
// -----------------------------------------------------------------------------
$primary-font-family: "Tempus Sans ITC";
$tertiary-font-family: "HelveticaNeueLTStd";
$secondary-font-family: "DroidKufi";

// -----------------------------------------------------------------------------
// MAIN COLORS
// -----------------------------------------------------------------------------
$primary-color: #FEB7A3;
$primary-color-light: #F5D2BF;
$secondary-color: #EFBD68;
$tertiary-color: #A8B8B8;
$tertiary-color-light: #C2D7D0;
$accent-color: #5D9690;
$separator-color: #f6f6f6;

// -----------------------------------------------------------------------------
// TEXT COLOR
// -----------------------------------------------------------------------------
$text-color: #555555;